<!DOCTYPE HTML>
<!--
CS174 Final Project
Job Scraper
Team #2 - Sajay Shah, Jordan Petersen, Jordan Melberg, Arjun Nayak
Donovon Bacon, Jeffery Tran
Parses Indeed and Dice to find a job
Uses Yelp, Walkscore, and Glassdoor to gather more information on the location where the job is located and the job itself
-->

<html>
  <head>
    <title>Job Scraper</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />

    <!-- Scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.dropotron.min.js"></script>
    <script src="../assets/js/jquery.scrollgress.min.js"></script>

    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
    <script type='text/javascript' charset='utf-8' src='../assets/js/popbox.js'></script>
    <link rel='stylesheet' href='../assets/css/popbox.css' type='text/css'>

  </head>
  <body class="landing">
    <div id="page-wrapper">
      <!-- Header -->
        <header id="header" class="alt">
          <h1><a href="index.html">Job Scraper</a> by Group 2</h1>
        </header>

      <!-- Banner -->
        <section id="banner">
          <h2>Job Scraper</h2>
          <p>Search Indeed.com and Dice.com at the same time!</p>

          <form action="/" method="POST" enctype="multipart/form-data">
            <ul class="actions">
              <li>
                <label for="job" style="color:white;">What</label>
                <input type="text" name="job" id="job" value="" placeholder="Software Engineer" style="color:grey;">
              </li>
              <li>
                <label for="location" style="color:white;">Where</label>
                <input type="text" name="location" id="location" value="" placeholder="San Jose, CA" style="color:grey;">
              </li>
            </ul>
            <input type="submit" value="Search" class="default">
          </form>
        </section>

      <!-- Main -->
        <section id="main" class="container">
          <section class="box special">
            <header class="major">
              <h2>{{job.title}} @ {{job.company}}</h2>
              <br>
                <table border="1">
                <tr>
                  <td colspan="3"><h3>Company Information <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a> </h3></td>
                </tr>
                {% for g in glassdoor %}
                    <tr>
                  <td>
                      <a href="http://{{g.website}}" target="_blank"> <img src="{{g.squareLogo}}"  /> </a>
                  </td>
                        <td>{{job.company}} is primarily a(n) {{g.sectorName}} company. The CEO is {{g.ceoName}}. His approval rating is {{g.ceoApprovalRating}} percent.</td>
                         <td><img src="{{g.ceoPicture}}"</td>
                </tr>
                <tr>
                    <td>Featured pro by a(n) {{g.featuredJobTitle}} at {{job.company}}</td>
                    <td colspan="2">This person's pros are {{g.featuredPro}}</td>
                </tr>
               <tr>
                   <td>Featured con by a(n) {{g.featuredJobTitle}} at {{job.company}}</td>
                   <td colspan="2">This person's cons are {{g.featuredCons}}</td>
               </tr>
                <tr>
                    <td colspan="3">Employees at this company would rate the culture {{g.culture}} out of 5.</td>
                </tr>
                    <tr>
                        <td colspan="3">Employees at this company would rate the senior leadership {{g.seniorLeadership}} out of 5.</td>
                    </tr>
                     <tr>
                        <td colspan="3">Employees at this company would rate the compensation and benefits {{g.compensation}} out of 5.</td>
                    </tr>
                     <tr>
                        <td colspan="3">Employees at this company would rate the career opportunities {{g.careerOpportunities}} out of 5.</td>
                    </tr>
              </table>
                <br>

                <br>
                {% endfor %}
                <table border="1">
                <tr>
                    {% for w in walkScore %}
                  <td colspan="3"><h3><a href="{{w.link}}" target="_blank"> <img src="{{w.logoURL}}"  /> </a> {{w.walkScore}}<br> {{w.desc}}</h3></td>
                </tr>
                    {% endfor %}
              </table>
              <table border="1">
                <tr>
                  <td colspan="3"><h3>Yelp's Local Favorites</h3></td>
                </tr>
                {% for y in yelp %}
                <tr>
                  <td><img src="{{y.image_url}}"></td>
                  <td><a href="{{y.url}}" target="_blank">{{y.name}}</a></td>
                  <td>{{y.location}}</td>
                {% endfor %}
                </tr>
              </table>
            </header>
          </section>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <ul class="copyright">
            <li>&copy; Job Parser. Team #2</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </footer>

    </div>
  </body>
</html>
